@using EM.Pedido.UI.Components.Pages.Maintenance.Clients.Components
@attribute [Route(ComponentRoutes.Clientes.EditNav)]

<GroupBox Class="mb-4">
    <Content>
        <div class="page-header">
            <h2 class="page-title">Editar Cliente</h2>
            <span class="page-route">@ComponentRoutes.Clientes.Edit</span>
        </div>
    </Content>
</GroupBox>

<GroupBox Titulo="Datos del Cliente">
    <Content>
        <FormClient 
            ListTipoDoc="ListTipoDoc" 
            ListRubros="ListRubros" 
            OnSaveEvent="SaveClient" 
            Request="Request" />
    </Content>
</GroupBox>

@code {
 
}
