@using EM.Pedido.UI.Components.Pages.Features.Clients.Components
@attribute [Route(ComponentRoutes.Clients.Create)]

<GroupBox Class="mb-4">
    <Content>
        <div class="page-header">
            <h2 class="page-title">Registrar Cliente</h2>
            <span class="page-route">@ComponentRoutes.Clients.Create</span>
        </div>
    </Content>
</GroupBox>

<GroupBox Titulo="Datos del Cliente">
    <Content>
        <FormClient 
            ListTipoDoc="ListTipoDoc" 
            ListRubros="ListRubros" 
            OnSaveEvent="SaveClient" 
            Request="Request" />
    </Content>
</GroupBox>
