@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<BlazoredToasts 
    Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" />

<div class="page">
    <NavMenu />
    <div class="layout-container">
        <main class="content-container">
            <article class="content mb-4">
                @Body
            </article>
        </main>
    </div>
</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeSidebar");
        }
    }
}