@using EM.Pedido.UI.Components.Pages.Features.Products.Components
@attribute [Route(ComponentRoutes.Products.Create)]

<GroupBox Class="mb-4">
    <Content>
        <div class="page-header">
            <h2 class="page-title">Registrar Producto</h2>
            <span class="page-route">@ComponentRoutes.Products.Create</span>
        </div>
    </Content>
</GroupBox>

<GroupBox Titulo="Datos del Cliente">
    <Content>
        <FormProduct
            ListMarcas="ListMarcas" 
            ListCategorias="ListCategorias" 
            OnSaveEvent="SaveProduct" 
            Request="Request" />
    </Content>
</GroupBox>
